<div class="form-group">

    <label for="<%= field.id %>" class="col-sm-2 control-label <%= field.optional ? "optional" : "" %>">
        <%= __(field.title) %>
    </label>

    <div class="col-sm-10 contributors" id="<%= field.id %>-parent">
        <% if (field.value.length == 0) {%>
        <div class="row contributor">
            <div class="col-sm-3">
                <select name="<%= field.id %>[type][]" class="form-control">
                    <% for (var i = 0; i < field.items.length; ++i) { %>
                    <option value="<%= field.items[i].id %>" >
                        <%= __('book_description.contributor.' + field.items[i].name) %>
                    </option>
                    <% } %>
                </select>
                <br>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="<%= __('book_description.placeholder.name') %>"
                       name="<%= field.id %>[name][]" value=""/>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="<%= __('book_description.placeholder.surname') %>"
                       name="<%= field.id %>[surname][]" value=""/>
            </div>
            <div class="col-sm-3 contributor-controls">
                <button type="button" data-field = "<%= field.id %>" class="btn btn-primary add-contributor">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
        <%} else {%>

            <% for (var contributorCounter = 0; contributorCounter < field.value.length; ++contributorCounter) { %>
            <div class="row contributor">
                <div class="col-sm-3">
                    <select name="<%= field.id %>[type][]" class="form-control">
                        <% for (var i = 0; i < field.items.length; ++i) { %>
                        <option value="<%= field.items[i].id %>" <%= field.items[i].id == field.value[contributorCounter].type ? 'selected' : '' %>>
                            <%= __('book_description.contributor.' + field.items[i].name) %>
                        </option>
                        <% } %>
                    </select>
                    <br>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="<%= __('book_description.placeholder.name') %>"
                           name="<%= field.id %>[name][]" value="<%= field.value[contributorCounter].name %>"/>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="<%= __('book_description.placeholder.surname') %>"
                           name="<%= field.id %>[surname][]" value="<%= field.value[contributorCounter].surname %>"/>
                </div>
                <div class="col-sm-3 contributor-controls">
                    <% if (contributorCounter != 0) {%>
                        <button type="button" data-field = "<%= field.id %>" class="btn btn-danger remove-contributor">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    <%}%>
                    <button type="button" data-field = "<%= field.id %>" class="btn btn-primary add-contributor">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <% } %>
        <% } %>

        <!-- The option field template containing an option field and a Remove button -->
        <div class="row contributor hide" id="optionTemplate">
            <div class="col-sm-3">
                <select name="<%= field.id %>[type][]" id="" class="form-control">
                    <% for (var i = 0; i < field.items.length; ++i) { %>
                    <option value="<%= field.items[i].id %>" <%= i == 0 ? 'selected' : '' %>>  <%= __('book_description.contributor.' + field.items[i].name) %> </option>
                    <% } %>
                </select>
                <br>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="<%= __('book_description.placeholder.name') %>"
                       name="<%= field.id %>[name][]"/>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="<%= __('book_description.placeholder.surname') %>"
                       name="<%= field.id %>[surname][]"/>
            </div>
            <div class="col-sm-3 contributor-controls">
                <button type="button" data-field = "<%= field.id %>" class="btn btn-danger remove-contributor">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
                <button type="button" data-field = "<%= field.id %>" class="btn btn-primary add-contributor">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
        <span class="validator-error alert alert-danger help-block empty-contributors" style="display: none;">
            <%= __('form.validator.empty_contributors') %></span>
    </div>
</div>