<div class="form-group">
    <label for="<%= field.id %>" class="col-sm-2 control-label <%= field.optional?"optional":""%>">
        <%= __(field.title) %>
    </label>
    <div class="col-sm-10" id="<%= field.id %>-parent">
        <input type="text" class="form-control" id="<%= field.id %>" name="<%= field.id %>" <% if (field.placeholder) {%>
               placeholder="<%= __(field.placeholder) %>"
                <% } %>

                <%
                if(field.value) {  %>
                value="<%= field.value %>"
                <%}%>
                >
        <% if(field.hint_text) { %>
            <span class="help-block"><%= __(field.hint_text) %></span>
        <% } %>

        <span class="validator-error alert alert-danger help-block error-empty" style="display: none;">
            <%= __('form.validator.empty_form') %></span>
        <span class="validator-error alert alert-danger help-block too-long" style="display: none;">
            <%= __('form.validator.too_long') %></span>
        <span class="validator-error alert alert-danger help-block many-words" style="display: none;">
            <%= __('form.validator.many_words') %></span>
    </div>
</div>
