
<div class="container">
    <%//include ./../book/bookEditor/editor_warning_modal.ejs%>
    <div class="col-md-8 col-md-offset-1">
        <div class="row">
            <div class="col-md-3">

                <div class="modal fade" id="change-password-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel"><%= __('user_profile.button.change_password')%></h4>
                            </div>
                            <div class="modal-body">
                                <form action="/profile/changePassword/" method="post" id="passwordform">
                                    <div>
                                        <span><%= __('user_profile.change_password.new_password')%></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="password" name="password" />
                                    </div>
                                    <div>
                                        <span><%= __('user_profile.change_password.new_password_confirm')%></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="password_again" name="password_again" />
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-lg" value="<%= __('user_profile.button.change_password')%>">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <form method="post">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="col-sm-4">
                            <%= __('user_profile.publishing')%>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Publishing Co." name="publishing_house" <% if (typeof userInfo.publishing_house != "undefined") {%> value="<%=userInfo.publishing_house%>" <%}%>>
                            <span class="help-block"><%= __('user_profile.help_publishing')%></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4">
                            <%= __('user_profile.name')%>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Name" name="name" value="<%=userInfo.name%>">
                            <span class="help-block"><%= __('user_profile.help_name')%></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4">
                            <%= __('user_profile.surname')%>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Surname" name="surname" value="<%=userInfo.surname%>">
                            <span class="help-block"><%= __('user_profile.button.help_surname')%></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4">
                            <%= __('user_profile.phone')%>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="050-123-45-67" name="phone_number" <% if (typeof userInfo.phone_number != "undefined") {%> value="<%=userInfo.phone_number%>" <%}%>>
                            <span class="help-block"><%= __('user_profile.help_phone')%></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4">
                            <%= __('user_profile.email')%>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="me@company.com" name="email"  value="<%=userInfo.email%>">
                            <% if (!userInfo.is_email_confirmed) {%>
                            <span class="help-block"><%=__('user_profile.confirmed.information')%><a href="/profile/resend">
                                    <%=__('user_profile.confirmed.resend_confirmation')%></a></span>
                            <%}%>
                        </div>

                    </div>

                    <a href="#" class="btn btn-default" style="width:100%;margin-top: 15px; margin-bottom: 20px" data-toggle="modal" data-target="#change-password-modal">
                        <%= __('user_profile.button.change_password')%>
                    </a>

                </div>
                <div class="text-right">
                    <input type="submit" id="profile-submit" class="btn btn-primary btn-lg" value="<%= __('user_profile.button.save_changes') %>"/>
                </div>
            </form>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <div class="alert alert-success" role="alert" style="display: none">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <strong><%=__('user_profile.saved')%></strong> <%=__('email_templates.confirm_link')%>
                </div>
            </div>

        </div>
    </div>

</div>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>

<script>
    $( "#passwordform" ).validate({
        rules: {
            password: "required",
            password_again: {
                equalTo: "#password"
            }
        }
    });

    jQuery.extend(jQuery.validator.messages, {
        equalTo: "<%= __('user_profile.change_password.new_passwords_dont_match')%>"
    });
</script>